* {
  list-style-type: none;
  text-decoration: none;
}
.logoI {
  width: 120px;
  height: 100px;
  color: azure;
  display: block;
  margin-top: 8px;
  margin-left: 20px;
}
.App {
  text-align: center;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

/*
=================================Navbar==================
*/
.navbar {
  background-color: transparent;
  height: 10%;
  width: 100%;
  right: 0;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
}
.navbar a {
  margin: 19px;
  color: white;
}
header {
  height: 16%;
  width: 100%;
  display: flex;
  background-color: black;

  position: fixed;
  color: white;
  z-index: 2;
}
/*
=================================Main==================
*/
main {
  justify-content: center;
  align-items: center;
}
.h2-img {
  font-weight: bold;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 10px;
  color: white;
}

.img-principal {
  width: 60%;
}
/*
=================================Collabs==================
*/
.collabs {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.container-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 25%;
  position: relative;
  color: rgb(255, 255, 255);
  margin-right: 15px;
  background-color: rgb(34, 19, 165);
  border-radius: 20px;
  font-weight: 900;
}
.collabs-titulo {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  color: white;
}
.project-img {
  width: 100%;
  height: 20%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.desc-p {
  width: 80%;
  height: 20%;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.button-p {
  border-radius: 20px;
  background-color: rgb(224, 10, 206);
  color: rgb(255, 255, 255);
  font-weight: 900;
  width: 29%;
  height: 50%;
  cursor: pointer;
  border-radius: 20px;
  margin: 15px;
}
.button-p:hover {
  transform: scale(1.1);
}
/* container 1 */
.container-p1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 25%;
  position: relative;
  color: rgb(255, 255, 255);
  margin-right: 15px;
  background-color: rgb(17, 0, 172);
  border-radius: 20px;
  font-weight: 900;
}
.desc-p1 {
  width: 80%;
  height: 20%;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

/* container 2*/

.container-p2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 25%;
  position: relative;
  color: rgb(255, 255, 255);
  margin-right: 15px;
  background-color: rgb(41, 8, 161);
  border-radius: 20px;
  font-weight: 900;
}
.desc-p2 {
  width: 80%;
  height: 20%;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
/* Footer */
footer {
  background-color: rgb(104, 102, 104);
  color: white;
  max-height: 50px;
  width: 100%;
  display: flex;
  bottom: 0;

  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 100%;
}
.footer-container a {
  color: white;
  font-size: 22px;
  margin-left: 50px;
}
.footer-container a:hover {
  transform: scale(1.3);
}

/* Form 2*/
.input-form {
  border-radius: 25px;
  color: black;
  margin-inline: 20px;
  width: 40%;
  text-align: start;
  height: 36px;
  border-style: solid;
  border-color: black;
  color: black;
  border-width: 10px;
  margin-top: 10px;

  font-weight: 750;
}
.form {
  display: list-item;
  justify-content: center;
  align-items: center;
}
form {
  display: list-item;
  justify-content: center;
  align-items: center;
}
.button-form {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(0, 110, 255);
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.business {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input-msg {
  border-radius: 25px;
  color: black;
  width: 70%;
  margin-top: 10px;
  height: 46px;
  border-width: 10px;
  border-style: solid;
  border-color: black;
  color: black;
  font-weight: 750;
}
.form-main {
  display: list-item;
}
::placeholder {
  color: black;
  font-weight: 800;
  margin-top: 50px;
}
.radio-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 20px;
  background-color: rgb(255, 255, 255);
}
.radio-contact label {
  margin: 10px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  background-color: aqua;
}

.input-form-I {
  border-radius: 25px;
  color: black;
  margin-inline: 20px;
  width: 50%;
  text-align: start;
  height: 36px;
  border-style: solid;
  border-color: black;
  color: black;
  border-width: 10px;
  margin-top: 10px;

  font-weight: 750;
}
button {
  cursor: pointer;
}

/* marcas*/
.marcas-div {
  background-color: azure;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.marcas-img {
  margin: 25px;
  width: 15%;
  height: 50%;
}
/*
=================================ABOUT US==================
*/
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 550px;
}
.about-us-container {
  color: rgb(255, 255, 255);
  width: 60%;
  height: 90%;
  display: list-item;
  justify-content: center;
  border-radius: 35px;
  background-color: rgb(44, 11, 226);
  border-color: black;
  align-items: center;
}
.about-us-desc {
  width: 100%;
  font-size: larger;
  font-weight: 600;
}
.about-us-img {
  width: 30%;
  margin: 0px;
  height: 50%;
}
.about-us-container:hover {
  transform: scale(1.1);
}
